.style1 {
background-color: rgb(255, 247, 17);
padding: 16px, 32px; 
}
.style2 {
background-color: aqua;
padding: 24px, 32px;
}
.style3 {
background-color: rgb(55, 238, 5);
padding: 24px, 32px;
}
.style4 {
background-color: rgb(222, 42, 234);
padding: 24px, 32px;
}
.style5 {
background-color: rgb(97, 221, 249);
padding: 24px, 32px;
}
.style6 {
background-color: rgb(156, 247, 115);
padding: 24px, 32px;
}
body h1, h2, h3 {
    margin: 0px;
}
.menu_1, .menu_2 {
    display: flex;
    justify-content: space-between;
    padding: 24px;
    align-items: center;
    
}
.menu_gauche, .menu_droite {
    display: flex;
    gap: 16px;

}